.certification-page-content {
  margin: 0 !important;
  height: -webkit-fill-available;
  padding: 2rem;
}

.certification-page-content .details {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 2rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.certification-page-content .details:not(:last-child) {
  border-bottom: 5px dotted #ffffff;
}

.certification-page-content .details #cert-name {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}
.certification-page-content .details #issuing-authority {
  font-size: 1rem;
  color: rgb(88, 88, 88);
  margin-bottom: 0.5rem;
}
.certification-page-content .details #issue-date {
  font-size: 1rem;
  color: rgb(88, 88, 88);
  margin-bottom: 1rem;
}
.certification-page-content .details #credential {
  font-size: 1rem;
  color: rgb(88, 88, 88);
  margin-bottom: 1rem;
}
.certification-page-content .details #links {
  font-size: 1.2rem;
  color: #589cf7;
  margin-bottom: 1rem;
}
.certification-page-content .details #links a {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-underline-position: from-font;
  text-decoration: none;


}
