.video-page-content {
    /* border: 10px solid #efefef;
    border-radius: 1rem;
    overflow: auto; */
    padding: 2rem;
    margin: 0 !important;
    /* padding-left: 0;
    padding-right: 0; */
    /* margin-top: auto; */
    /* aspect-ratio: 8 / 5; */
    height: -webkit-fill-available;
  
  }
  
  .wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .video-page-content iframe {
    height: 100%;
    width: 100%;
  }
  
  
  
  .video-page-content .details {
    /* display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 1rem; */
    padding-right: 10px;
    padding-bottom: 1rem !important;
    height: 50%;
  }
  
  .video-page-content .details:last-child {
    /* padding-bottom: 2rem; */
  }