.header__container {
  border-bottom: 1px solid #eee;
  height: 70px;
  max-height: 80px;
  min-height: 50px;
  /* position: -webkit-sticky;  */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}
.nav-bar-row {
  height: -webkit-fill-available;
  margin: 0 !important;
}
.nav-bar-row .col {
  height: 100%;
}


.nav_profile {
  /* padding: 11px 27px; */
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}
.profile__container {
  text-align: right;
  margin: 15px;
}
/* .nav_profile-name {
    padding-left: 30px;
  } */

.user__icon {
  width: 30px;
  height: 30px;
  border-radius: 1.2rem;
  border: 0.14rem solid #6495ed !important;
}

.profile__container .dropdown-menu {
  transform: none !important;
  min-width: 125px !important;
  position: fixed !important;
  right: 1px !important;
  top: 70px !important;
}
.profile_link {
  padding: 0;
  text-align: center;
  width: 125px !important;
  overflow: hidden !important;
}

* {
  margin: 0;
  padding: 0;
}
